<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DropdowBigDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7B9548E1E2CA36500A55476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B954A71E2CA36500A55476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B954B21E2CA36500A55476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
